<!doctype html>
<html lang="en">
<head>
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <title>VanillaJS • TodoMVC</title>
    <link rel="stylesheet" href="style/base.css">
    <!--[if IE]>
    <!--<script src="style/ie.js"></script>-->
    <!--<![endif]&ndash;&gt;-->

    <!--<script src="//cdn.jsdelivr.net/pouchdb/3.4.0/pouchdb.min.js"></script>-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="lib/pouchdb.js"></script>
    <script src="bower_components/angular-pouchdb/angular-pouchdb.js"></script>
    <script src="js/base.js"></script>
    <script src="js/appAngular.js"></script>
    <!--<script src="js/app.js"></script>-->

</head>
<body ng-app="app" ng-controller="MainController">
    <section id="todoapp">
        <header id="header">
            <h1>todos</h1>
            <input id="new-todo" ng-keypress="($event.which === 13) ? addTodo(event) : 0" ng-model="todoText" placeholder="What needs to be done?" autofocus>
        </header>
        <section id="main">
            <ul id="todo-list">
                <li ng-repeat="todo in todos track by $index"> 
                    <input class="toggle" type="checkbox" ng-model="todo.doc.checked" ng-change="checkboxChanged(todo.doc)">
                    <label> {{todo.doc.title}} </label>
                    <button class="destroy" ng-click="deleteButtonPressed(todo)"> </button>
                </li>
            </ul>
        </section>
        <footer id="footer">
            <span id="todo-count"></span>

            <div id="sync-wrapper">
                <div id="sync-success">Currently syncing</div>
                <div id="sync-error">There was a problem syncing</div>
            </div>
        </footer>
    </section>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>

    <div id="status">
    </div>
    <footer id="info">
        <p>Double-click to edit a todo</p>

        <p>Template by <a href="http://github.com/sindresorhus">Sindre Sorhus</a></p>

        <p>Created by <a href="http://twitter.com/ffesseler">Florian Fesseler</a></p>

        <p>Cleanup, edits by <a href="http://github.com/boushley">{{name}}</a></p>
    </footer>

</body>
</html>
